@import url(https://fonts.googleapis.com/css?family=Open+Sans);
nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }

  @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.buttons {
  width: 100%;
  height: 300%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
	height: 50vh;
	width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class*=box] p{
    color: white;
    position:absolute;
}

.box-1 { 
    background-color: #e2c576; 
}

.box-2 { 
    background-color: #6b7ebb; 
}
.box-3 { 
    background-color: #618873; 
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
    cursor: pointer;
    top: 20vh;
}


.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}
.btn-one:hover a {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.btn-two {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-two a {
    color: #FFF;
    text-decoration: none;
	transition: all 0.3s;
}
.btn-two::before {
	content: '';
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}
.btn-two:hover a {
	letter-spacing: 2px;
}
.btn-two:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-two::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.btn-three {
    color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-three a {
    color: #FFF;
    text-decoration: none;
	transition: all 0.3s;
}
.btn-three::before {
	content: '';
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}
.btn-three:hover a {
	letter-spacing: 2px;
}
.btn-three:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-three::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-three:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


