@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(background.jpg) no-repeat;
  background-size: cover;
  height:100%;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }


.container {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
    margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	max-width:500px;
	width:100%;
	margin:0 auto;
    position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"] { 
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}

#contact {
	background:rgba(236, 189, 32, 0.3);
	padding:10px;
	margin:10px 0;
}

#contact h3 {
	color: rgb(143, 167, 219);
	display: block;
	font-size: 20px;
	font-weight: 400;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width:100%;
	border:2px solid rgb(143, 167, 219);
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:rgb(143, 167, 219);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

.button {
    border-radius: 4px;
    background-color: rgb(143, 167, 219);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:2px solid rgb(224, 186, 104);
}
::-webkit-input-placeholder {
 color:rgb(143, 167, 219);
}
:-moz-placeholder {
 color:rgb(143, 167, 219);
}
::-moz-placeholder {
 color:rgb(143, 167, 219);
}
:-ms-input-placeholder {
 color:rgb(143, 167, 219);
}


