@media(min-width:800px){
    .container-1{
      display:flex;
    }
    
    .container-2{
      display:flex;  
      justify-content:space-between;
    }
  }
  
  .container-1 div, .container-2 div, .container-3 div{
    border:1px #ccc solid;
  }
  
  .box-1 img{
      width: 100vw;
      height: 50vh;
  }

  .box-1 .title{
      position: absolute;
      text-align: center;
      right: 8vw;
      top: 50vh;
      font-size: 5vw;
  }

  .box-1{
    flex:2;
    order:2;
  }

  .container-2-box{
    flex-basis: 27%;  
  }

  .container-2-box img{
      width: 300px;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  .container-3-box { 
  font-family: Open Sans, sans-serif; 
  margin: 2rem; 
}

.container-3-box p { 
  line-height: 1.8; 
}

.container-3-box .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  max-width: 200px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }


